<%- include ("partials/header.ejs") %>

<div class="blog-app-layout">
    <div class="blog-app-layout__nav">
        <div class="nav-bar">
            <button class="icon-button icon-button--fill-icon">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">home</span>
            </button>
            <button class="icon-button icon-button--fill-icon ">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">settings</span>
            </button>
            <button class="icon-button icon-button--fill-icon nav-bar__menu">
                <span class="material-symbols-outlined" style="color: var(--icon-color);">menu</span>
            </button>
        </div>   
    </div>

    <div class="blog-app-layout__page bg-[var(--yellow-sand-100)]">
        
    </div>

</div>

<%- include ("partials/footer.ejs") %>
