<%- include ("partials/header.ejs") %>

<div class="blog-app-layout">
    <div class="blog-app-layout__nav">
        <%- include ("partials/nav-bar.ejs") %>
    </div>

    <div class="blog-app-layout__page bg-[var(--yellow-sand-100)] no-scrollbar">
        <!-- Dynamic page here -->
         <% if(locals.pageTitle) { %>
            <%- include (pageTitle + ".ejs") %> 
         <% } %>
    </div>

</div>

<%- include ("partials/footer.ejs") %>
