@use "../variables/typography" as *;

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 1.5rem 5rem 1.5rem;
    gap: 1.5rem;
    height: 100%;
    width: fit-content;
    background: var(--yellow-sand-100);
    border-right: 1px solid var(--neutrals-grey-medium);
}

// Breakpoints
// Large desktop
@media only screen and (min-width: 768px) {
    .nav-bar__menu {
      display: none;
    }
  }

// Medium tablet
@media only screen and (max-width: 768px) {
    .nav-bar__menu {
      display: none;
    }
  }


//   Small - mobile
@media only screen and (max-width: 480px) {
    .nav-bar button:not(:last-child) {
        display: none;
      }
    
    .nav-bar{
        display: flex;
        width: 100%;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        align-items: flex-end;
        border-right: 0;
        border-bottom: 1px solid var(--neutrals-grey-medium);

        &__menu {
            display: flex;
          }
    }


}