@use "../variables/typography" as *;

.textarea {
    @extend .text-input;
    width: 100%;
    accent-color: var(--darks-default);

    &__input {
        height: calc(100% - var(--input-line-height));
        border-radius: 5px;
        width: 100%;

        --border-size: 1px;
        $size: var(--border-size);
        $top: 0.75rem;;
        $right: 1rem;
        $bottom: 0.75rem;
        $left: 1rem;
      
        box-sizing: border-box;
        border-width: var(--border-size);
        padding: calc($top - $size) calc($right - $size) calc($bottom - $size) calc($left - $size);

        border-style: solid;
        border-color: var(--purple-primary-200);

        color: var(--darks-default);
        background: var(--yellow-sand-100);

        &::placeholder{
            // Hint
            color: var(--darks-disabled);
        }

        &:focus {
            outline: 1px solid var(--purple-primary-400);
            outline-offset: -1px;

        }
        
    }

}
